
<!-- Header -->
<header id="header" class="transparent-nav">
    <div class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="index.html">
                    <img src="./img/logo-alt.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->
            <!-- Mobile toggle -->
            <button class="navbar-toggle">
            <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>
        <!-- Navigation -->
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li style='margin-top: 0.5em;'><a href="index.html"><%= lang.menu.home %></a></li>
                <li><a href="?lang=en"><%= lang.menu.en %></a></li>
                <li><a href="?lang=ru"><%= lang.menu.ru %></a></li>
                <li><a href="?lang=kz"><%= lang.menu.kz %></a></li>
                <li><a href="contact.html"><%= lang.menu.courses %></a></li>
               

            </ul>
        </nav>
        <!-- /Navigation -->
    </div>
</header>
<!-- /Header -->